.operation {
    margin-bottom: 70px;
    margin-top: 50px;
    h2 { 
        padding-left: nth($padding-dimensions, 2);
        margin-bottom: 7px;
        border-bottom: none;
        font-family: $font-primary;
        font-weight: bold; } 
}

.operation__link {
    @include operation; 
} 

 