
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes disappear {
  0% {
  transform: scale(1);
  }
  100% {
  transform: scale(0);
  }
}

@keyframes rotate {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
  transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
  transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
  transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
}
  100% {
  transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

/*LOADING SPINNER*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 200ms 3s forwards;
}

.loader__circle {
  width: 250px;
  height: 250px;
  border: 0px solid #fff;
  border-radius: 50%;
  position: absolute;
}

.loader__circle:nth-child(1) {
  border-bottom-width: 8px;
  border-color: #9356dc;
  animation: rotate 2s linear infinite;
}

.loader__circle:nth-child(2) {
  border-right-width: 8px;
  border-color: #FF79DA;
  animation: rotate2 2s linear infinite;
}

.loader__circle:nth-child(3) {
  border-top-width: 8px;
  border-color: #99E2D0;
  animation: rotate3 2s linear infinite;
}

.loader__loading {
  color: #9356dc;
}

.loader__turn {
  color: #9356dc;
  position: absolute;
  top: 55%;
  left: 47%;
  animation: rotate 3s linear infinite;
}

/*HEADER ACCUEIL & PAGES MENU*/
.ban {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-right: 70px;
  margin-bottom: 0;
}

.ban .logo {
padding-left: 20%;
}

.ban__arrow {
  color: black;
  font-size: 22px;
}

.ban__arrow:hover {
  color: #9356dc;
  transform: scale(1.015);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.banner__map {
  position: relative;
}

.banner__map i {
  position: absolute;
  top: 30px;
  left: -85px;
  font-weight: bolder;
}

.banner__form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  height: 60px;
}

.banner__search {
  width: 100%;
  font-size: 16px;
  cursor: auto;
  font-weight: bolder;
  background-color: #e6e5e5;
  border: none;
  box-shadow: 4px 4px 6px 0 #9a9a9a;
}

.banner__search::placeholder {
  text-align: center;
}

.main {
  padding-top: 10px;
}

.main__img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

.main img {
  width: 100%;
}

.explore {
  background-color: #f2f2f2;
  height: auto;
  width: 100%;
  padding: 30px 0 50px 0;
}

.explore__title {
  margin: 0 0 20px 0;
}

.explore h1 {
  margin: 20px 0 10px 0;
  padding: 0 0 0 40px;
  text-align: center;
  width: 85%;
  font-size: 25px;
}

.explore p {
  margin: 0 0 30px 0;
  width: 98%;
  font-size: 17px;
  color: #5c5b5b;
  font-weight: unset;
  text-align: center;
  border-bottom: none;
  font-family: "Roboto", sans-serif;
}

.explore__form {
  text-align: center;
}

.explore__btn {
  width: 52%;
  font-size: 13px;
  font-weight: bolder;
  padding: 16px 0 16px 0;
  color: #fff;
  border-radius: 70px;
  border: none;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #FF79DA);
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 6px 0 #9a9a9a; 
}

.explore__btn:hover {
  transform: scale(1.015);
  background-color: #ff93e1;
  background-blend-mode: lighten;
  box-shadow: 14px 14px 16px 0 #9a9a9a;
}

.operation {
  margin-bottom: 70px;
  margin-top: 50px;
}

.operation h2 {
  padding-left: 20px;
  margin-bottom: 7px;
  border-bottom: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.operation__link {
  font-size: 18px;
}

.operation__link a {
  text-decoration: none;
}

.operation__link form {
  position: relative;
  display: flex;
  justify-content: center;
  border: none;
  padding-top: 20px;
}

.operation__link p {
  color: #fff;
  border-radius: 20px;
  background-color: #9356dc;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  position: absolute;
  left: 7px;
  bottom: 9px;
  width: 6%;
  height: 24%;
  line-height: 22px;
}

.operation__link button {
  width: 90%;
  background-color: #f2f2f2;
  border-radius: 20px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 30px 0 30px 0;
  border: none;
  box-shadow: 4px 4px 6px 0 #9a9a9a;
  cursor: pointer;
  max-width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.operation__link button:hover {
  color: #9356dc;
  background-color: #f9f7f7;
}

.operation__link .fas {
  position: absolute;
  left: 60px;
  bottom: 32px;
  color: grey;
}

/*ACCUEIL*/
.restaurants {
  background-color: #f2f2f2;
  margin-bottom: 0;
  padding: 0 20px 50px 20px;
}

.restaurants h2 {
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
  border-bottom: none;
  margin-left: 0px;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.card {
  -webkit-box-shadow: 4px 4px 6px 0 #9a9a9a;
          box-shadow: 4px 4px 6px 0 #9a9a9a;
  width: 100%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: white;
  border-radius: 20px;
  margin: 0 0 20px 0;
  padding: 0;
}

.card:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 165px;
}

.card__content {
  position: relative;
}

.card h3 {
  font-weight: bolder;
  padding: 20px 0 0 20px;
  margin: 0;
}

.card p {
  padding: 5px 20px 15px 20px;
  margin-top: 0;
}

.card__new {
  position: absolute;
  top: -158px;
  left: 255px;
  font-weight: bolder;
  font-size: 14px;
  background-color: #99E2D0;
  width: 27%;
  height: 36%;
  color: #008766;
  border: 1px solid #99E2D0;
  border-radius: 5px;
}

.card .far {
  position: absolute;
  left: 85%;
  top: 20%;
  font-size: 25px;
  padding-right: 10px;
}

.card .far:hover {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.card .fas {
  position: absolute;
  left: 85%;
  top: 20%;
  font-size: 25px;
  padding-right: 10px;
  color: #9356dc;
  opacity: 0;
}

.card .fas:hover {
  opacity: 1;
  transition: .8s linear;
  cursor: pointer;
}

/*ACCUEIL PAGES MENU*/
.cards {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px 0 #9a9a9a;
  position: relative;
  cursor: pointer;
  animation: appear 3s;
}

.cards h3 {
  margin: 0;
  font-size: 16px;
  padding-right: 108px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cards__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.cards p {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 27px;
}

.cards span {
  margin-right: 5px;
}

.cards .check {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 15%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 0px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}

.cards .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.cards:hover {
  padding-right: 75px;
}

.cards:hover .check {
  opacity: 1;
  transform: translate(-50px);
}

.cards:hover .fa-check-circle {
  transform: rotate(360deg);
}

.main-wrapper {
  background-color: #f2f2f2;
  padding-top: 30px;
  position: relative;
}

.main-wrapper h2 {
  margin-bottom: 5px;
  padding-bottom: 8px;
  border-bottom: 3px solid #99E2D0;
  width: 13%;
  font-weight: normal;
  margin: 40px 0 0 20px;
}

.main-wrapper__title {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 96%;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  width: 100%;
  padding-top: 30px;
}

.main-wrapper__title h1 {
  padding-top: 0;
  margin-top: 0;
  padding-left: 22px;
  font-size: 29px;
  font-family: "Shrikhand", sans-serif;
}

.main-wrapper__title h1:hover {
  color: #9356dc;
}

.main-wrapper__title i {
  font-size: 28px;
  padding-top: 5px;
  padding-right: 40px;
}

.main-wrapper__title i:hover {
  opacity: 1;
  -webkit-transition: .8s linear;
  transition: .8s linear;
  cursor: pointer;
}

.main-wrapper__title .far {
  position: absolute;
  left: 85%;
  top: 32%;
  font-size: 25px;
  padding-right: 10px;
}

.main-wrapper__title .far:hover {
  display: inline-block;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

/*ORDER MENU*/
.order {
  display: flex;
  justify-content: center;
  padding-top: 0;
  background-color: #f2f2f2;
}

.order button {
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #FF79DA);
  border-radius: 70px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px 0 #9a9a9a;
  cursor: pointer;
  margin: 30px 0;
  width: 45%;
  border: none;
  padding: 18px 45px 18px 45px;
}

.order button:hover {
  transform: scale(1.015);
  background-color: #ff93e1;
  background-blend-mode: lighten;
  box-shadow: 14px 14px 16px 0 #9a9a9a;
}

footer {
  background-color: #343636;
  padding-top: 0;
  padding-bottom: 30px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

footer h2 {
  margin-top: 0;
  padding: 20px 20px 0;
  border-bottom: none;
  font-size: 20px;
  color: #fff;
  font-family: "Shrikhand", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.footer__link {
  color: #fff;
  padding-left: 27px;
  padding-top: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.footer--modif {
  padding-left: 0px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
  font-size: 18px;
}

.footer a:hover {
  color: #99E2D0;
}

.footer i {
  font-size: 14px;
  position: absolute;
  color: #fff;
}

.footer .fa-utensils {
  top: 11%;
  left: 8%;
}

.footer .fa-handshake {
  transform: rotate(135deg);
  top: 36%;
  left: 8%;
}
/*-----------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 991px) {
.loader__circle {
  width: 450px;
  height: 450px;
  border: 0px solid #fff;
  border-radius: 50%;
  position: absolute; }
.loader__loading {
  color: #9356dc;
  font-size : 28px;
  font-weight: bolder; }
.loader__turn {
    color: #9356dc;
    font-size : 27px;
    position: absolute;
    top: 58%;
    left: 48%;
}

.ban .logo {
  width: 45%;
  margin-right: 25%;
}

.banner__map i {
  position: absolute;
  top: 23px;
  left: -85px;
  font-weight: bolder;
}


.ban .ban__arrow {
  font-size: 40px;
}

.banner__search {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30%;
  margin-right: 20%;
  margin-bottom: 20px;
  text-align: center;
}

.main img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-wrapper {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 0;
}
.main-wrapper .main-wrapper__title {
    bottom: 86%;
}
.main-wrapper .main-wrapper__title h1 {
    margin-left: 35%;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 40px;
}
.main-wrapper .main-wrapper__title i {
    color: #9356dc;
    font-size: 40px;
    margin-left: 80px;}

.starter {
    width: 400px;
    animation: fadein 3s ease-in-out;
}
.dish {
  width: 400px;
  animation: fadein 6s ease-in-out;
}
.desert {
    width: 400px;
    animation: fadein 9s ease-in-out;
}

.explore .explore__title h1 {
    width: 100%;
}
.explore .explore__title p {
    margin-top: 20px;
    margin-left: 20px;
    width: 98%;
}
.explore button {
  width: 20%; }
  
.operation h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.operation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.operation__link form p {
    left: -10px;
    width: 8%;
    height: 26%;
    line-height: 25px;
    padding-left: 8px;
}
.operation__link form .fas {
  left: 35px;
  bottom: 30px;
}
.operation__link form button {
    width: 100%;
    padding: 30px 70px 30px 70px;
}

  .restaurants h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
.rest .card {
    margin-left: 10px;
    width: 100%;
}
.card__new {
  left: 257px;
}
.rest a {
  width: 100%;
  margin-left: 20px;
}
.order {
    margin-top: 0;
    margin-left: 0;
    background-color: #f2f2f2;
    padding-bottom: 25px;
    padding-right: 0;
}
.order button {
    width: 15%;
    padding: 18px 45px 18px 45px;
}

footer h2 {
  padding: 20px 40% 0;
  font-size: 40px;
}
footer h2:hover {
  color: #99E2D0;
}
.footer__link {
  padding-left: 40%;
  padding-top: 0px;
  font-size: 32px;
}
.footer .fa-utensils {
  top: 12%;
  left: 40%;
  font-size: 18px;
}
.footer .fa-handshake {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 37%;
  left: 40%;
  font-size: 16px;
}
.footer li:nth-child(4) a:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}
}

@media (min-width: 768px) and (max-width: 1089px) {
  body {
    max-width: 991px;
  }
  .loader__circle {
    width: 400px;
    height: 400px;
  }
  .loader__loading {
    color: #9356dc;
    font-size: 28px;
    font-weight: bolder;
  }
  .loader__turn {
    color: #9356dc;
    font-size: 27px;
    position: absolute;
    top: 58%;
    left: 48%;
  }
  .ban .logo {
    width: 60%;
    padding-left: 15%;
  }
  .ban__arrow {
    font-size: 32px;
  }
  .banner__map i {
    top: 22px;
  }
  .banner__search {
    width: 40%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .explore h1 {
    width: 95%;
    font-size: 25px;
  }
  .explore p {
    width: 100%;
  }
  .explore__btn {
    width: 40%;
  }
  .operation__link p {
    width: 26px;
    line-height: 26px;
    left: 102px;
  }
  .operation__link button {
    width: 70%;
    padding: 50px 0 30px 0;
  }
  .operation__link .fas {
    left: 190px;
  }
  .card {
    height: 350px;
  }
  .card img {
    height: 255px;
  }
  .card__new {
    left: 82%;
    top: -235px;
    width: 14%;
  }
  .card .far {
    left: 90%;
    font-size: 35px;
  }
  .cards {
    width: 80%;
    margin-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .main-wrapper h2 {
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 6px;
    width: 7%;
    left: 40%;
    margin-left: 70px;
    margin-bottom: 20px;
  }
  .cards .check {
    width: 10%;
    height: 100%;
  }
  .main-wrapper__title h1 {
    font-size: 42px;
  }
  .main-wrapper__title .far {
    font-size: 35px;
    padding-right: 10px;
  }
  .order button {
    width: 35%;
  }
  footer h2 {
    padding: 20px 250px 0;
    font-size: 30px;
  }
  footer h2:hover {
    color: #99E2D0;
  }
  .footer__link {
    padding-left: 27%;
    padding-top: 0px;
    font-size: 32px;
  }
  .footer .fa-utensils {
    top: 12%;
    left: 26%;
  }
  .footer .fa-handshake {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 37%;
    left: 26%;
  }
  .footer li:nth-child(4) a:hover {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
}










/*# sourceMappingURL=style.css.map */