

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

@mixin column {
    display: flex;
    flex-direction: column; }

@mixin center {    
    display: flex;
    justify-content: center; }

@mixin space {
    display: flex;
    justify-content: space-around; }

@mixin between {
    display: flex;
    justify-content: space-between; }

@mixin shadow {
    box-shadow: 4px 4px 6px 0 #9a9a9a; }

@mixin Tablets_Desktop {
    @media screen and (min-width: 991px) {
        .loader__circle {
            width: 450px;
            height: 450px;
            border: 0px solid white;
            border-radius: 50%;
            position: absolute; }
        .loader__loading {
            color: $purple;
            font-size : 28px;
            font-weight: bolder; }
        .loader__turn {
            color: $purple;
            font-size : 27px;
            position: absolute;
            top: 58%;
            left: 48%; }
        
        .ban .logo {
          width: 45%;
          margin-right: 25%; }

        .ban .ban__arrow {
          font-size: 40px; }
        
        .main img {
          width: 100%;
          height: 550px;
          object-fit: cover; }
        
        .main-wrapper {
            @include space;
            padding-bottom: nth($padding-dimensions, 1);
                &__title {
                bottom: 86%; 
                    h1 {
                        margin-left: 35%;
                        margin-bottom: 0;
                        padding-bottom: 0;
                        font-size: 40px; }
                    i {
                        color: $purple;
                        font-size: 40px;
                        margin-left: 80px; }
                }      
                    .starter {
                        width: 400px;
                        animation: fadein 3s ease-in-out; }
                    .dish {
                        width: 400px;
                        animation: fadein 6s ease-in-out; }
                    .desert {
                        width: 400px;
                        animation: fadein 9s ease-in-out; }
        }
        .explore .explore__title h1 {
            width: 100%; }
        .explore .explore__title p {
            margin-top: 20px;
            margin-left: 20px;
            width: 98%; }
        .explore button {
            width: 20%; }
        .operation h2 {
            @include center; }
        .operation__link {
            @include space;
            flex-direction: row;
                form p {
                    left: -10px;
                    width: 8%;
                    height: 26%;
                    line-height: 25px;
                    padding-left: 8px; }
                .fas {
                left: 35px;
                bottom: 30px; }
                button {
                    width: 100%;
                    padding: 30px 70px 30px 70px; }
        }
        .restaurants h2 {
            @include center; }
        .rest {
            @include space;
            flex-direction: row;
            margin-top: 30px;
                .card {
                margin-left: 20px; }
        }
        .order {
            margin-top: 0;
            margin-left: 0;
            background-color: $lightblue;
            padding-bottom: 25px;
            padding-right: 0;
                button {
                    width: 15%;
                    padding: 18px 45px 18px 45px; }
        }
        footer h2, .footer li {
            @include center; }
        .footer__link a i {
            font-size: 16px;
            margin-left: 570px;
            padding-bottom: nth($padding-dimensions2, 4);
        }
        .footer__link a i:nth-child(1) {
            bottom: 64px; }
        .footer li a {
            padding-left: 20px;
                &:hover {
                    color: $sea-green; }
        }
        .footer li:nth-child(4) a:hover {
            transform: scale(1.015);
          }
        }
}    