
$purple: #9356dc;
$lightblue:#f2f2f2;
$white:#fff;
$sea-green:#99E2D0;
$pink:#FF79DA;
$font-primary: 'Roboto', sans-serif; 
$font-secondary: 'Shrikhand', sans-serif; 

$padding-dimensions: 0 20px 50px 15px;
$padding-dimensions2: 5px 30px 40px 10px;